{
  "container_name": "{{ image_name }}_{{ env_name }}",
  "ports": ["{{ port_db_pre }}{{ port }}:6379"],
  "volumes": ["{{ jenkins_data_base }}/{{ env_name }}:/data"],
  "env_name": "{{ env_name }}",
  "has_custom_command": true,
  "command": "redis-server --appendonly yes"
}
