{
  "env_name": "{{ env_name }}",
  "container_name": "{{ item | dirname | basename }}_{{ env_name }}",
  "volume_home": "{{ volume_home }}/{{ env_name }}",
  "ports": [],
  "volumes": [],
  "links": [],
  "has_custom_command": false,
  "command": ""
}
