<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>linux.worker@aol.com</adminAddress>
  <jenkinsUrl>http://servix:{{ mapped_port }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>